# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
